<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/change_qty.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/chng_qty" method="post">
      <span>UserID</span>
      <input type="text" name="uid" />
      <span>ProductID</span>
      <input type="text" name="pid" />
      <span>RemoveQuantity</span>
      <input type="text" name="rqty" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
