<!DOCTYPE html>
<html>
<head>
	<title>Admin Login - Clothing Store</title>
  <!-- <style>
    p {
      background-image: url("/public/images/img.jpg");
    }
  </style> -->
	<link rel="stylesheet" type="text/css" href="styles/rough.css">
</head>
<body>
	<header>
		<h1>Admin Login</h1>
	</header>
	<main>
		<form method="post" action="/submit">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username"><br><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password"><br><br>
			<input type="submit" value="Login">
		</form>
    <!-- <div class="back">
      <img src="images/img.jpg" alt="Login Image">
    </div> -->
	</main>
	<footer>
		<p>&copy; 2023 Clothing Store. All rights reserved.</p>
	</footer>
</body>
</html>
