<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/price_filter.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/price_filter_table" method="post">
      <span>LowPrice</span>
      <input type="text" name="lp" />
      <span>HighPrice</span>
      <input type="text" name="hp" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
