<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/update_seller_details.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/update_seller_details" method="post">
      <span>SellerID</span>
      <input type="text" name="sid" />
      <span>ShopNo</span>
      <input type="text" name="sno" />
      <span>Add1</span>
      <input type="text" name="ad1" />
      <span>Add2</span>
      <input type="text" name="ad2" />
      <span>City</span>
      <input type="text" name="scity" />
      <span>Pincode</span>
      <input type="text" name="spin" />
      <span>MobileNo</span>
      <input type="text" name="smo" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
